<section class="max-w-4xl p-6 mx-auto bg-white shadow-md rounded-md ">
  <h1 class="text-lg font-semibold text-gray-700 mb-4">New Movement</h1>
  <%= render "form", account: @account, movement: @movement %>
  <br>
</section>
