<p style="color: green"><%= notice %></p>
<div class="flex items-center justify-between mb-8">
  <h1 class="main-title">
    Budgets
  </h1>
  <%= link_to "New budget", new_budget_path, class: "btn-primary" %>
</div>
<div id="budgets" class="grid grid-cols-2 grid-rows-2 gap-5">
  <% @budgets.each do |budget| %>
    <%= render  partial: "card", locals: { budget: budget }  %>
  <% end %>
</div>
