@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .main-title{
    @apply text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl
  }

  .subtitle{
    @apply text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl
  }

  .btn-primary {
    @apply inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
  }

  .form-label {
    @apply text-gray-700 dark:text-gray-200
  }

  .form-input {
    @apply block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring
  }
}


