<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Assigned amount:</strong>
    <%= category.assigned_amount %>
    <strong>Target amount:</strong>
    <%= category.target_amount %>
  <p>

</div>
