# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Ruby

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  OB_CLIENT_ID: ${{ secrets.OB_CLIENT_ID }}
  OB_CLIENT_SECRET: ${{ secrets.OB_CLIENT_SECRET }}
  RAILS_ENV: test

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      - name: Check lint issues
        run: make lint

      - uses: docker/build-push-action@v5
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run tests in docker container
        run: make test
        env:
          OB_CLIENT_ID: ${{ secrets.OB_CLIENT_ID }}
          OB_CLIENT_SECRET: ${{ secrets.OB_CLIENT_SECRET }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
